
# don't push config file - there is local url link for test
_config

# ignore target
.gitignore
*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules 


# ignore target of only under the root path
/vendor
